html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Estilos generales del diseño */
.layout-wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
	/* Altura del diseño ocupando toda la altura de la ventana */
}

/* Estilos del menú lateral */
#sidebar {
	width: 250px;
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.logo {
	text-align: center;
	margin-bottom: 20px;
}

.layout-menu {
	list-style: none;
	padding: 0;
}

.layout-menu li {
	margin-bottom: 10px;
}

.layout-menu a {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
}

.layout-menu i {
	margin-right: 10px;
}

/* Estilos del contenido principal */
#content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	/* Hace que el contenido sea desplazable verticalmente si es necesario */
	max-height: 100vh;
}

/* Estilos para el contenido específico de la página */
.content h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}

.content p {
	font-size: 16px;
	line-height: 1.5;
	color: #666;
}